<template>
  <div class="about">
    <el-switch v-model="value" active-color="#13ce66" inactive-color="#ff4949">
    </el-switch>
    <transition name="component-fade" mode="out-in">
  <component v-bind:is="view"></component>
</transition>
  </div>
</template>
<script>
import afterMixin from '../components/mixin/mixin.js'
export default {
  mixins:[afterMixin],
  name: "about",
  data() {
    return {
      value: true,
      view: 'v-a'
    }
  },
  components: {
    'v-a': {
      template: '<div>Component A</div>'
    },
    'v-b': {
      template: '<div>Component B</div>'
    }
  },
  mounted() {
    // 因为使用混入,所以外部导入的混入文件中的data与本文件中的data进行处理,相同则当前文件
    // 的属性替换混入文件,如果当前混入文件中存在当前文件未包含的属性,则直接将混入属性添加到当前data中,因此
    // 直接使用this.xxx就可调用
    console.log('使用混入获取到的值:',this.isNoData);
    const timer = setInterval(() => {
      console.log("测试");
    }, 500);
    // 通过$once来监听定时器，在beforeDestroy钩子可以被清除。
    this.$once("hook:beforeDestroy", () => {
      clearInterval(timer);
    });
  },
  watch:{
    value:function(newValue,oldValue){
      console.log('oldValue---->',oldValue,'newValue------>',newValue);
      this.value === true ? this.view = 'v-a' : this.view = 'v-b';
      console.log(this.view)
    }
  }
};
</script>
<style lang="less">
// .slide-fade-enter {
//   opacity: 0;
// }
// .slide-fade-leave {
//   opacity: 1;
// }
// .slide-fade-enter-active,
// .slide-fade-leave-active {
//   transition: opacity 0.5s;
// }
// .slide-fade-enter-to {
//   opacity: 1;
// }
// .slide-fade-leave-to {
//   opacity: 0;
// }
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}
</style>