<template>
  <div class="checkAndErwei">
    <el-form ref="form" label-width="80px">
      <el-form-item label="验证码" prop="name">
        <el-input
          style="width: 147px"
          v-model="ruleForm.verification"
          placeholder="请填写验证码"
        ></el-input>
        <div class="verification">
          <img :src="verificationImg" alt="" @click="acquireVerification" />
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import axios from "axios";
import qs from "qs";
export default {
  data() {
    return {
      verificationImg: "",
      ruleForm: {
        verification: "",
      },
    };
  },
  methods: {
    acquireVerification() {
      axios
        .post(
          "/api/?s=App.Captcha.Create&return_data=0&return_format=data&app_key=DB432E4EAEDA50542C763C808A0E143A",
          { responseType: "arraybuffer" }
        )
        .then((res) => {
          console.log(res.data.data);
          // let blob = new Blob([res.data], { type: "image/png" });
          // let url = window.URL.createObjectURL(blob);
          this.verificationImg = 'data:image/png;base64,' + res.data.data.captcha_img;
          console.log(this.verificationImg);
        }),
        (error) => {
          this.$message({
            type: "warning",
            message: "系统错误，请联系管理员!",
          });
        };
      // axios
      //   .post(
      //     "/api/?s=App.Captcha.Create&return_data=0&return_format=output&app_key=DB432E4EAEDA50542C763C808A0E143A",
      //     { responseType: "blob" }
      //   )
      //   .then((res) => {
      //     console.log(res.data.data);
      //     // let blob = new Blob([res.data], { type: "image/png" });
      //     let url = window.URL.createObjectURL(blob);
      //     this.verificationImg = url;
      //     console.log(this.verificationImg);
      //   }),
      //   (error) => {
      //     this.$message({
      //       type: "warning",
      //       message: "系统错误，请联系管理员!",
      //     });
      //   };
    },
    xuliehua() {
      console.log(qs.stringify({ a: 1, b: 2 }));
      console.log(qs.parse("a%5Bb%5D=c"));
    },
  },
  mounted() {
    this.acquireVerification();
    this.xuliehua();
  },
};
</script>
<style lang="less" scoped>
.checkAndErwei {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.verification {
  position: absolute;
  right: 0px;
  top: 0px;
}
</style>