<template>
  <div class="test">
    <label for="shuru">新值:</label
    ><input type="text" id="shuru" ref="shuru" v-focus v-model="text" />
    <hr />
    <label>上一次输入:</label><input type="text" v-model="oldText" />
  </div>
</template>
<script>
// import Vue from 'vue'
// // 注册一个全局自定义指令 v-focus
// Vue.directive('focus', {
//   	// 当绑定元素插入到 DOM 中。
//   	inserted: function (el,binding) {
//     		// 聚焦元素
//             console.log(binding);
//     		el.focus();
//  	}
// });
export default {
  name: "test",
  data() {
    return {
      value: null,
      text: "hello world",
      oldText: null,
    };
  },
  directives: {
    focus: {
      inserted: function (el, binding,vNode) {
        console.log("binding",binding);
        console.log('查看vNode所包含的内容:',vNode);
        el.focus();
      },
    },
  },
  mounted() {
    console.log('this.$refs',this.$refs.shuru);
    console.log("this.$route", this.$route);
  },
  watch: {
    text: function (newValue, oldValue) {
      this.oldText = oldValue;
      console.log("oldValue:", oldValue);
      console.log("newValue:", newValue);
    },
  },
};
</script>