<template>
  <div class="error">
    <h1>抱歉,未找到对应url地址的页面!</h1>
    <button @click="$router.push('/')">返回首页</button>
    <button @click="$router.go(-1)">返回上一个页面</button>
    <button @click="$router.go(1)">返回下一个页面</button>
  </div>
</template>
<script>
  export default {
    
  }
</script>
<style lang="less">
    .error{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>