<template>
  <div class="home" >
    我是Home父组件
    <HelloWorld>
      <template  v-slot:helloWorld="slotProps">
         <h1>{{slotProps.users.name}}</h1> 
      </template>
    </HelloWorld>
    <!-- <h4>{{tempValue[0].username}}</h4> -->
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data:function(){
    return{
      msg:'home页面数据传到子页面的标识符',
      
    }
  },
  provide:function(){
    const that=this;
    return{
      getData(){
        console.log('这是父级的父级所传的数据');
      },
      msg:that.msg
    }
  },
  methods:{
    
  },
  mounted(){
    
  }
}
</script>
<style lang="less" scoped>
.home{
  width:900px;
  margin:0 auto;
  background:yellow;
  padding-bottom:100px;
}
</style>