<template>
  <div>
      <el-form>
      <el-form-item>
            <el-row style="width:100%">
              <el-col :span="16" :offset="5" >
                <el-button type="primary"  style="width:100%" @click="login">{{$t('m.login')}}</el-button>
                <!-- 或者用v-text -->
                <!-- <el-button type="primary"  style="width:100%" @click="login" v-text="$t('m.login')"></el-button> -->
              </el-col>
            </el-row>
          </el-form-item>
      </el-form>
  </div>
</template>
<script>
export default {
  name : 'international',
  data() {
    return {
      value: true,
    };
  },
  mounted() {
  },
  methods: {
      login(){
          if(this.$i18n.locale === 'en-US'){
              this.$i18n.locale = 'zh-CN'
          }else{
              this.$i18n.locale = 'en-US'
          }
          
      }
  },
};
</script>