<template>
  <div>
    <div>{{now}}</div>
    <el-row type="flex" class="row-bg" justify="center">
      <el-col :span="12">
        <el-table :data="tableData">
          <el-table-column prop="id" label="编号" width="180">
          </el-table-column>
          <el-table-column prop="title" label="电影名" width="180">
          </el-table-column>
          <!-- <el-table-column label="海报" width="100">
            <template slot-scope="scope">
                <img :src="scope.row.cover" class="head_pic"/>
            </template>
        </el-table-column> -->
          <el-table-column label="详情" width="100">
            <template slot-scope="scope">
                <el-link :href="scope.row.url" target="_blank" class="buttonText"  type="primary" :underline="false">详情</el-link>
            </template>
        </el-table-column>
        
        </el-table>
      </el-col>
    </el-row>
    <div class="block">
      <el-pagination ref="fenye"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage1"
        :page-sizes="[10, 20, 30, 40, 50, 100]"
        :page-size="20"
        :hide-on-single-page=true
        layout="total, sizes, prev, pager, next, jumper"
        :total="100"
      >
      </el-pagination>
    </div>
    <router-link to="/mock">模拟数据</router-link>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      tableData: [],
      currentPage1: 1,
      requestPage: 1,
      scroll: 0
    };
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);

    console.log("当前路由信息为:",this.$route);
    this.userListShow();
  },
  methods: {
     handleScroll () {
       this.scroll  = document.documentElement &&  document.documentElement.scrollTop
       console.log('当前卷动值为:',this.scroll)
     },
    userListGet(requestPage=1) {
      var pagesize=(this.$refs.fenye.pageSize);
      console.log(requestPage);
      //https://api.jackeriss.com/api/v1/recommend/?subject=movie_%E7%83%AD%E9%97%A8&page_start=0&page_limit=12
      return new Promise((resolve, reject) => {
        axios
          .get(
            "https://api.jackeriss.com/api/v1/recommend/?subject=movie_%E7%83%AD%E9%97%A8&page_start="+requestPage+"&page_limit="+pagesize,
            // {
            //   headers: {
            //     Authorization:
            //       "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjUxMCwicmlkIjozMCwiaWF0IjoxNjA4NjkzNjA3LCJleHAiOjE2MDg3ODAwMDd9.oaaINv1U_rp2ZRlL6KZnrsOWW70srwZ3F98Dn0teW5A",
            //   },
            // }
          )
          .then(function (response) {
            resolve(response);
          })
          .catch(function (error) {
            reject(error);
          });
      });
    },
    async userListShow() {
      var temp = await this.userListGet(this.requestPage);
      // this.tableData = temp.data.data.users;
      
      this.tableData=temp.data.subjects;
      console.log('当前电影结果集:',this.tableData);
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.requestPage=val;
      this.userListShow();
      console.log(`当前页: ${val}`);
    },

  },
  computed:{
    now:function(){
      return new Date().toJSON();
    }
  },
  activated() {
          if(this.scroll > 0){
            window.scrollTo(0, this.scroll);
            this.scroll = 0;
            window.addEventListener('scroll', this.handleScroll);
          }
    },
    deactivated(){
     window.removeEventListener('scroll', this.handleScroll);
    }
};
</script>