<template>
  <div>
    <h2>{{ msg }}</h2>
    <hr />
    <h3>{{ other }}</h3>
    <div>
      <button @click="add(10)">+</button>
      <button @click="reduce">-</button>
    </div>
    <p>
      <button @click="addAction">+</button>
      <button @click="reduceAction">-</button>
    </p>
  </div>
</template>
<script>
import store from "../store/index.js";
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      msg: "Hello Vuex",
    };
  },
  store,  
  mounted(){
    console.log('当前store的具体值为:',this.$store.getters.other);
  },
  computed: {
    ...mapState(["count"]),
    ...mapGetters(["other"]),
  },
  methods: {
    ...mapMutations(["add", "reduce"]),
    ...mapActions(['addAction','reduceAction'])
  },
  beforeRouteEnter (to, from, next) {
  next(vm => {
    console.log('进入这个网页之前调用',vm);
  })
}

};
</script>