<template>
  <div class="hezi" id="myChart" :style="{maxWidth: '600px', height: '300px'}"></div>
</template>
<script>
// 引入基本模板
let echarts = require('echarts/lib/echarts')
// 引入柱状图组件
require('echarts/lib/chart/bar')
// 引入提示框和title组件
require('echarts/lib/component/tooltip')
require('echarts/lib/component/title')
import api from './../axios/api.js'
export default {
  name: 'hello',
  data() {
    return {
      tableData: [],
      addRessData:[],
      numData:[]
    }
  },
  created() {
      
  },
  mounted() {
    this.getdata();
  },
  methods: {
    drawLine() {
      // 基于准备好的dom，初始化echarts实例
      let myChart = echarts.init(document.getElementById('myChart'))
      // 绘制图表
      myChart.setOption({
        title: { text: 'ECharts 入门示例' },
        tooltip: {},
        xAxis: {
          data: this.addRessData
        },
        yAxis: {},
        series: [{
          name: '销量',
          type: 'bar',
          data: this.numData
        }]
      });
      setTimeout(function (){
	    window.onresize = function () {
	    	myChart.resize();
	    }
	},200)
    },
    getdata: function() {
      api.mockdata('/data/index')
      .then(res => {
        console.log(res);
        res.forEach(element => {
            this.addRessData.push(element.Address);
            this.numData.push(element.Integer);
        });
        this.tableData = res;
        console.log(this.addRessData,this.numData);
        this.drawLine();
      })
    },
  },
  
}
</script>
<style lang="less">
  .hezi{
    margin: auto;
  }
</style>