<template>
  <div id="chart-panel" style='width:600px;height:400px;margin:auto'> </div>
</template>
<script>
// 引入基本模板
let echarts = require('echarts/lib/echarts')
// 引入柱状图组件
require('echarts/map/js/china')

export default {
  name: 'hello',
  data() {
    return {
      tableData: [],
      addRessData:[],
      numData:[]
    }
  },
  created() {
      
  },
  mounted () {
  // 初始化echarts实例
  this.chinachart = echarts.init(document.getElementById('chart-panel'))
  // 进行相关配置
  this.chartOption = { 
    // tooltip: { // 鼠标移到图里面的浮动提示框
    //  // formatter详细配置： https://echarts.baidu.com/option.html#tooltip.formatter
    //   formatter (params, ticket, callback) { 
    //     // params.data 就是series配置项中的data数据遍历
    //     let localValue,
    //       perf,
    //       downloadSpeep,
    //       usability,
    //       point
    //     if (params.data) {
    //       localValue = params.data.value
    //       perf = params.data.perf
    //       downloadSpeep = params.data.downloadSpeep
    //       usability = params.data.usability
    //       point = params.data.point
    //     } else { // 为了防止没有定义数据的时候报错写的
    //       localValue = 0
    //       perf = 0
    //       downloadSpeep = 0
    //       usability = 0
    //       point = 0
    //     }
    //     let htmlStr = `
    //       <div style='font-size:18px;'> ${params.name}</div>
    //       <p style='text-align:left;margin-top:-10px;'>
	  //         区域对应数据value：${localValue}<br/>
	  //         性能perf：${perf}<br/>
	  //         下载速度downloadSpeep：${downloadSpeep}<br/>
	  //         可用性usability：${usability}<br/>
	  //         监测点数point：${point}<br/>
    //       </p>
    //     `
    //     return htmlStr
    //   }
    //   // backgroundColor:"#ff7f50",//提示标签背景颜色
    //   // textStyle:{color:"#fff"} //提示标签字体颜色
    // }, 
    tooltip: {
        triggerOn: "mousemove",
        formatter:function(params){
            var a='<span>'+params.name+'</span>';
            var b='<span style="color:'+'rgba(23, 240, 204)'+'">'+params.value+'%</span>';
            return [a,b].join(' :  ');
        },
        backgroundColor:'rgba(29, 38, 71)',
        // 额外附加的阴影
        extraCssText:'box-shadow:0 0 4px rgba(11, 19, 43,0.8);'
            
    },
    // visualMap的详细配置解析：https://echarts.baidu.com/option.html#visualMap
    // visualMap: { // 左下角的颜色区域
    //   type: 'piecewise', // 定义为分段型 visualMap
    //   min: 0,
    //   max: 1000,
    //   itemWidth: 40,
    //   bottom: 60,
    //   left: 20,
    //   pieces: [ // 自定义『分段式视觉映射组件（visualMapPiecewise）』的每一段的范围，以及每一段的文字，以及每一段的特别的样式
    //     {gt: 900, lte: 1000, label: '非常好', color: '#6ad86e'}, // (900, 1000]
    //     {gt: 500, lte: 900, label: '正常', color: '#9adcfa'}, // (500, 900]
    //     {gt: 310, lte: 500, label: '警告', color: '#ffeb3b'}, // (310, 500]
    //     {gt: 200, lte: 300, label: '较差', color: '#ff9800'}, // (200, 300]
    //     {gt: 10, lte: 200, label: '非常差', color: 'orangered'}, // (10, 200]
    //     {value: 0, label: '无数据', color: '#999'} // [0]
    //   ]
    // },
    visualMap: {
        min: 0,
        max: 1000,
        left: 26,
        bottom: 40,
        showLabel: !0,
        text: ["高", "低"],
        pieces: [{
            gt: 100,
            label: "> 100 人",
            color: "rgba(57, 111, 255)"
        }, {
            gte: 10,
            lte: 100,
            label: "10 - 100 人",
            color: "rgba(50, 97, 222)"
        }, {
            gte: 1,
            lt: 10,
            label: "1 - 9 人",
            color: "rgba(42, 82, 189)"
        }, {
            gt: 0,
            lt: 1,
            label: "疑似",
            color: "rgba(35, 68, 156)"
        }, {
            value: 0,
            color: "rgba(27, 53, 122)"
        }],
        show: false
    },
    // geo配置详解： https://echarts.baidu.com/option.html#geo
    // geo: { // 地理坐标系组件用于地图的绘制
    //   map: 'china', // 表示中国地图
    //   // roam: true, // 是否开启鼠标缩放和平移漫游
    //   zoom: 1.2, // 当前视角的缩放比例（地图的放大比例）
    //   label: {
    //     show: true
    //   },
    //   itemStyle: { // 地图区域的多边形 图形样式。
    //     borderColor: 'rgba(0, 0, 0, 0.2)',
    //     emphasis: { // 高亮状态下的多边形和标签样式
    //       shadowBlur: 20,
    //       shadowColor: 'rgba(0, 0, 0, 0.5)'
    //     }
    //   }
    // },
    geo: {
        map: "china",
        roam: !1,
        scaleLimit: {
            min: 1,
            max: 2
        },
        zoom: 1,
        label: {
            show:false
        },
        emphasis:{
            label:{
                show:false
            }
        },
        itemStyle: {
            normal: {
                shadowBlur: 1,
                shadowColor: 'rgba(18, 32, 70,0.4)',
                borderColor: "rgba(18, 32, 70)"
            },
            emphasis: {
                areaColor: "rgba(23, 240, 204)",
                shadowOffsetX: 0,
                shadowOffsetY: 0,
                borderWidth: 0
            }
        }
    },
    series: [
      {
        name: '', // 浮动框的标题（上面的formatter自定义了提示框数据，所以这里可不写）
        type: 'map',
        geoIndex: 0,
        label: {
          show: true
        },
        // 这是需要配置地图上的某个地区的数据，根据后台的返回的数据进行拼接（下面是我定义的假数据）
        data: [{
        name: "南海诸岛",
        value: 0
    },
    {
        name: '北京',
        value: 54
    },
    {
        name: '天津',
        value: 13
    },
    {
        name: '上海',
        value: 40
    },
    {
        name: '重庆',
        value: 75
    },
    {
        name: '河北',
        value: 13
    },
    {
        name: '河南',
        value: 83
    },
    {
        name: '云南',
        value: 11
    },
    {
        name: '辽宁',
        value: 19
    },
    {
        name: '黑龙江',
        value: 15
    },
    {
        name: '湖南',
        value: 69
    },
    {
        name: '安徽',
        value: 60
    },
    {
        name: '山东',
        value: 39
    },
    {
        name: '新疆',
        value: 4
    },
    {
        name: '江苏',
        value: 31
    },
    {
        name: '浙江',
        value: 104
    },
    {
        name: '江西',
        value: 36
    },
    {
        name: '湖北',
        value: 1052
    },
    {
        name: '广西',
        value: 33
    },
    {
        name: '甘肃',
        value: 7
    },
    {
        name: '山西',
        value: 9
    },
    {
        name: '内蒙古',
        value: 7
    },
    {
        name: '陕西',
        value: 22
    },
    {
        name: '吉林',
        value: 4
    },
    {
        name: '福建',
        value: 18
    },
    {
        name: '贵州',
        value: 5
    },
    {
        name: '广东',
        value: 98
    },
    {
        name: '青海',
        value: 1
    },
    {
        name: '西藏',
        value: 0
    },
    {
        name: '四川',
        value: 44
    },
    {
        name: '宁夏',
        value: 4
    },
    {
        name: '海南',
        value: 22
    },
    {
        name: '台湾',
        value: 3
    },
    {
        name: '香港',
        value: 5
    },
    {
        name: '澳门',
        value: 5
    }]
      }
    ]
  }
  
  
  // 使用刚指定的配置项和数据显示地图数据
  this.chinachart.setOption(this.chartOption)
  var temp;
  for(var i in this.chinachart._chartsMap){
    console.log('进入了')
    console.log('i----------------------->',i,this.chinachart._chartsMap[i]);
    temp=this.chinachart._chartsMap[i];
  }
  console.log('temp',temp.renderTask.context.data._nameList)
},
  methods: {
    
  },
  
}
</script>