<template>
  <div class="eventBusSon1">
    <h1>{{ msg }}</h1>
    <button @click="sentData">向兄弟组件2传值</button>
  </div>
</template>
<script>
import eventBus from '@/utils/eventBus.js'
export default {
  name: 'eventBusSon1',
  data () {
    return {
      msg: '这是兄弟组件①传来的值'
    }
  },
  created(){
    eventBus.$on('getBrotherData',item=>{
      this.msg=item;
    })
  },
  mounted(){
  },
  methods:{
    sentData(){
      eventBus.$emit('getParams',this.msg)
    }
  }
}
</script>
<style scoped>

</style>