<template>
  <div class="eventBusFather">
    <div>
      <h1>{{ msg }}</h1>
      <div class="button">
        <son-1></son-1>
        <son-2></son-2>
      </div>
    </div>
    
  </div>
</template>
<script>
import son1 from './eventBusSon1';
import son2 from './eventBusSon2';
export default {
  name: "routeSon1",
  data() {
    return {
      msg: "Hi, I am routeSon1!",
    };
  },
  components:{
    son1,
    son2
  }
};
</script>
<style scoped>
.button{
    width: 600px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
</style>