<template>
  <div class="eventBusSon2">
    <h1>{{ msg }}</h1>
    <button @click="sentDataToOhter">向兄弟组件1传值</button>
  </div>
</template>
<script>
import eventBus from '@/utils/eventBus.js'
export default {
  name: 'eventBusSon2',
  data () {
    return {
      msg: 'Hi, I am eventBusSon2!'
    }
  },
  created(){
      eventBus.$on('getParams',item=>{
          console.log(item);
          this.msg=item;
          return item;
      })
  },
  methods:{
    sentDataToOhter(){
      eventBus.$emit('getBrotherData','兄弟,你好!');
    }
  }
}
</script>
<style scoped>

</style>