<template>
  <div class="hello" >
     Helloworld组件  
     <div class='slotLeft'>
       <slot name='helloWorld' v-bind:users="user"></slot>
     </div> 
     <three-level-component @showInfo="getSonInfo"></three-level-component>
  </div>
</template>

<script>
import threeLevelComponent from './threeLevelComponent'
export default {
  components:{
    threeLevelComponent
  },
  data(){
    return{
      user:{
        name:'hello world',
        age:18
      },
      tempValue:[
        {
          username:'test'
        }
      ]
    }  
  },
  mounted(){
    console.log('当前根元素的父元素:',this.$parent)
  },
  methods:{
    getSonInfo(val){
      this.tempValue=val;
      console.log('父级组件接收到的值-------->',val)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.hello{
  width:700px;
  height:300px;
  background:#ccc;
  margin: 0 auto;
  margin-top:50px;
  .slotLeft{
    width:300px;
    height:200px;
    // float:left;
    background:red;
    margin:20px auto
  }
  .slotRight{
    width:300px;
    height:200px;
    float:right;
    background:pink;
  }
}
</style>