<template>
<div>
  <el-table
    :data="tableData"
    border
    style="width: 100%">
    <el-table-column
      fixed
      prop="Address"
      label="地址"
      width="150">
    </el-table-column>
    <el-table-column
      prop="Color"
      label="颜色"
      width="120">
    </el-table-column>
    <el-table-column
      prop="Date"
      label="日期"
      width="120">
    </el-table-column>
    <el-table-column
      prop="Image"
      label="图片地址"
      width="120">
    </el-table-column>
    <el-table-column
      prop="Name"
      label="姓名"
      width="300">
    </el-table-column>
    <el-table-column
      prop="String"
      label="字符串"
      width="120">
    </el-table-column>
    <el-table-column
      fixed="right"
      label="操作"
      width="100">
      <template slot-scope="scope">
        <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
        <el-button type="text" size="small">编辑</el-button>
      </template>
    </el-table-column>
  </el-table>
</div>
  
</template>
 
<script>
import api from './../axios/api.js'
export default {
  name: 'Mock',
  data () {
    return {
      tableData: []
    }
  },
  created () {
    this.getdata()
  },
  mounted(){
    console.log('当前路由信息为:',this.$route)
  },
  methods: {
    getdata: function() {
      api.mockdata('/data/index')
      .then(res => {
        console.log(res);
        this.tableData = res;
        console.log(this.tableData);
      })
    },
    handleClick(row) {
        console.log(row);
      }
  }
}
</script>
 
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>