<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>
<script>
export default {
  name: 'routeSon1',
  data () {
    return {
      msg: 'Hi, I am routeSon1!'
    }
  }
}
</script>
<style scoped>

</style>