<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
  </div>
</template>
<script>
export default {
  name: 'routeSon2',
  data () {
    return {
      msg: 'Hi, I am routeSon2'
    }
  }
}
</script>
<style scoped>
</style>