
<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>{{$route.name}}</p>
    <p>{{$route.params.username}}</p>
    <router-view class="aaa"></router-view>
  </div>
</template>

<script>
export default {
  name: 'routeFather',
  data () {
    return {
      msg: 'Hi, I am routeFather'
    }
  }
}
</script>
<style scoped lang="less">
  .aaa{
    width: 100%;
    height: 20%;
    background: cyan;
  }
</style>

