<template>
  <div>
      <h1>这是三级子组件</h1>
      <h3>{{this.user[0].name}}</h3>
      <input type="text" v-model="temp">
      <input type="text" v-model="temp">
      <button @click="callToFather">向父级2层发送数据</button>
  </div>
</template>

<script>
export default {
    inject:['getData','msg'],
  data(){
    return{
      user:[
          {
        name:'hello world',
        age:18
      }
      ],
      temp:''
    }  
  },
  created(){
    this.$set(this.user,0,{name:'yuanwen',age:22})
    console.log('$set方法实验---------->',this.user);
    //外部导入的msg无法使用$set方法修改
    this.temp=this.msg;
    console.log('当前接收的父级2层导入的数据值:',this.temp);

  },
  mounted(){
    console.log('当前根元素的父元素:',this.$parent);
    this.getData();
    
  },
  methods:{
      callToFather(){
          console.log('this.user[0]:',this.user[0])
          this.$emit('showInfo',this.user[0])
      }
  }
// watch:{
//     temp:function(oldValue,newValue){
//         console.log(oldValue,newValue);
//         this.temp=newValue;
//     }
// }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>