<template>
    <div>
        <h2>{{ msg }}</h2>
        <p>新闻ID：{{ $route.params.newId}}</p>
        <p>新闻标题：{{ $route.params.newTitle}}</p>
    </div>
</template>

<script>
export default {
  name: 'urlAndParams',
  data () {
    return {
      msg: 'urlAndParams page'
    }
  }
}
</script>