<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About-element-ui</router-link> |
      <hr/>
      <router-link :to="{name:'routeFather',params:{username:'父亲'}}">配置子路由-父</router-link> |
      <router-link to="/routeFather/routeSon1">配置子路由-子1</router-link> |
      <router-link to="/routeFather/routeSon2">配置子路由-子2</router-link> |
      <hr/>
      <router-link to="/urlAndParams/1/yuanwen is very good">利用url传递参数</router-link> |
      <router-link to="/goback">重定向到首页</router-link> |
      <hr/>
      <router-link to="/count">vuex实现计数器</router-link> |
      <router-link to="/vuexTest">vuexMoudle的使用</router-link> |
      <router-link to="/directives">自定义指令</router-link> |
      <!-- <router-link to="/tongxin-son">子父通信-子</router-link> | -->
      <router-link to="/tongxin-father">子父通信</router-link> |
      <hr/>
      <router-link to="/pagination">分页</router-link> |
      <router-link to="/international">国际化</router-link> |
      <router-link to="/mock">模拟数据</router-link> |
      <router-link to="/echarts">数据可视化-柱状图</router-link> |
      <router-link to="/echarts-map">数据可视化-地图</router-link> |
      <router-link to="/checkAndErwei">验证码与二位码生成(多请求)</router-link> |
      <hr>
      <router-link to="/eventBusFather">事件车父级容器</router-link> |
      <router-link to="/echartLine">数据可视化-实时更新折线图</router-link>
    </div>
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>
    
  </div>
</template>
<script>
export default {
  data:function(){
    return {

    }
  },
  created(){
    
  },
  mounted(){
    
  }
}
</script>
<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
